# Notebook Instructions

1. If you are new to Jupyter notebooks, please go through this introductory manual <a href='https://quantra.quantinsti.com/quantra-notebook' target="_blank">here</a>.
1. Any changes made in this notebook would be lost after you close the browser window. **You can download the notebook to save your work on your PC.**
1. Before running this notebook on your local PC:<br>
i.  You need to set up a Python environment and the relevant packages on your local PC. To do so, go through the section on "**Run Codes Locally on Your Machine**" in the course.<br>
ii. You need to **download the zip file available in the last unit** of this course. The zip file contains the data files and/or python modules that might be required to run this notebook.

## Importing data from Yahoo finance

To fetch data from Yahoo finance, you need to first pip install yfinance. The 'pip' command is a tool for installing and managing Python packages.

!pip install yfinance

You can fetch data from Yahoo finance using download method.

In [1]:
import yfinance as yf
data = yf.download('AAPL', start="2017-01-01", end="2017-04-30")
data.head()

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close     Volume
Date
2017-01-03  28.950001  29.082500  28.690001  29.037500  27.257639  115127600
2017-01-04  28.962500  29.127501  28.937500  29.004999  27.227139   84472400
2017-01-05  28.980000  29.215000  28.952499  29.152500  27.365591   88774400
2017-01-06  29.195000  29.540001  29.117500  29.477501  27.670673  127007600
2017-01-09  29.487499  29.857500  29.485001  29.747499  27.924120  134247600

## Importing data using pandas_datareader

First you need to import data from <b>pandas_datareader</b> module. Here <b>data.get_data_yahoo</b> function is used to return the historical price of a stock's ticker, over a specifc time range.

In [2]:
# Yahoo recently has become an unstable data source.

# If it gives an error, you may run the cell again, or try again sometime later

import pandas as pd
from pandas_datareader import data as pdr
df = pdr.get_data_yahoo('AAPL', '2017-01-01', '2018-01-01')
df.head()

                 High        Low       Open      Close       Volume  Adj Close
Date
2017-01-03  29.082500  28.690001  28.950001  29.037500  115127600.0  27.257639
2017-01-04  29.127501  28.937500  28.962500  29.004999   84472400.0  27.227131
2017-01-05  29.215000  28.952499  28.980000  29.152500   88774400.0  27.365597
2017-01-06  29.540001  29.117500  29.195000  29.477501  127007600.0  27.670675
2017-01-09  29.857500  29.485001  29.487499  29.747499  134247600.0  27.924124

<font color="red">Note:</font>  Refer to this link for more alternative sources, fundamental data, futures and options data: https://blog.quantinsti.com/stock-market-data-analysis-python/

In the upcoming IPython notebook, we will learn about <b>Importing data from our local machine</b>.

Till then, get ready to solve some exercises. <br><br>