# Notebook Instructions

1. All the <u>code and data files</u> used in this course are available in the downloadable unit of the <u>last section of this course</u>.
2. You can run the notebook document sequentially (one cell at a time) by pressing **shift + enter**. 
3. While a cell is running, a [*] is shown on the left. After the cell is run, the output will appear on the next line.

This course is based on specific versions of python packages. You can find the details of the packages in <a href='https://quantra.quantinsti.com/quantra-notebook' target="_blank" >this manual</a>.

## Pandas 'groupby'

Any groupby operation involves one of the following operations on the original dataframe/object. They are:
<br>
1. <b>Splitting</b> the data into groups based on some criteria.<br>
<br>
2. <b>Applying</b> a function to each group separately.<br>
<br>
3. <b>Combining</b> the results into a single dataframe.<br>
<br>
Splitting the data is pretty straight forward. What adds value to this split is the 'Apply' step. This makes 'Groupby' function interesting. In the apply step, you may wish to do one of the following: <br>
<br>
a. Aggregation − Computing a summary statistic. Eg: Compute group sums or means.<br>
<br>
b. Transformation − performs some group-specific operation. Eg: Standardizing data (computing z-score) within the group.<br> 
<br>
c. Filtration − discarding the data with some condition.<br> 
<br>
Let us now create a DataFrame object and perform all the operations on it.

In [1]:
# Creating a dataframe

import pandas as pd

my_portfolio = {'Sector': ['IT', 'FMCG', 'Finance', 'Pharma', 'Pharma',
                           'FMCG', 'FMCG', 'IT', 'Finance', 'Real Estate'],

                'Company':   ['Infosys', 'Dabur', 'DHFL', 'Divis Lab', 'Lupin',
                              'Ruchira Papers', 'Britianna', 'Persistent Systems', 'Bajaj Finance', 'DLF'],

                'MarketCap': ['Large Cap', 'Large Cap', 'Mid Cap', 'Mid Cap', 'Mid Cap',
                              'Small Cap', 'Mid Cap', 'Small Cap', 'Large Cap', 'Mid Cap'],

                'Share Price': [1120, 341, 610, 1123, 741, 185, 5351, 720, 1937, 217],

                'Amount Invested': [24000, 16000, 50000, 23000, 45000, 12000, 52000, 18000, 5000, 3500]}

mp = pd.DataFrame(my_portfolio)

mp

        Sector             Company  MarketCap  Share Price  Amount Invested
0           IT             Infosys  Large Cap         1120            24000
1         FMCG               Dabur  Large Cap          341            16000
2      Finance                DHFL    Mid Cap          610            50000
3       Pharma           Divis Lab    Mid Cap         1123            23000
4       Pharma               Lupin    Mid Cap          741            45000
5         FMCG      Ruchira Papers  Small Cap          185            12000
6         FMCG           Britianna    Mid Cap         5351            52000
7           IT  Persistent Systems  Small Cap          720            18000
8      Finance       Bajaj Finance  Large Cap         1937             5000
9  Real Estate                 DLF    Mid Cap          217             3500

### View groups

In [2]:
print(mp.groupby('MarketCap').groups)

{'Large Cap': Int64Index([0, 1, 8], dtype='int64'), 'Mid Cap': Int64Index([2, 3, 4, 6, 9], dtype='int64'), 'Small Cap': Int64Index([5, 7], dtype='int64')}

There are 3 Groups formed, if we group it by <b>'Market Cap'</b>. They are:<br>
<br>
Group 1: 'Large Cap' (3 companies at index 0,1,8)<br>
Group 2: 'Mid Cap' (5 companies at index 2,3,4,6,9)<br>
Group 3: 'Small Cap' (2 companies at index 5,7)<br>

In [3]:
# Understand this grouping

print(mp.groupby('Sector').groups)

{'FMCG': Int64Index([1, 5, 6], dtype='int64'), 'Finance': Int64Index([2, 8], dtype='int64'), 'IT': Int64Index([0, 7], dtype='int64'), 'Pharma': Int64Index([3, 4], dtype='int64'), 'Real Estate': Int64Index([9], dtype='int64')}

There are 5 Groups formed, if we group it by <b>'Sector'</b>. They are:<br>
<br>
Group 1: 'FMCG' (3 companies at index 1,5,6)<br>
Group 2: 'IT' (2 companies at index 0,7)<br>
Group 3: 'Pharma' (2 companies at index 3,4)<br>
Group 4: 'Finance' (2 companies at index 2,8)<br>
Group 5: 'Real Estate' (1 company at index 9)<br>

In [4]:
# Groupby with multiple columns

print(mp.groupby(['MarketCap', 'Sector']).groups)

{('Large Cap', 'FMCG'): Int64Index([1], dtype='int64'), ('Large Cap', 'Finance'): Int64Index([8], dtype='int64'), ('Large Cap', 'IT'): Int64Index([0], dtype='int64'), ('Mid Cap', 'FMCG'): Int64Index([6], dtype='int64'), ('Mid Cap', 'Finance'): Int64Index([2], dtype='int64'), ('Mid Cap', 'Pharma'): Int64Index([3, 4], dtype='int64'), ('Mid Cap', 'Real Estate'): Int64Index([9], dtype='int64'), ('Small Cap', 'FMCG'): Int64Index([5], dtype='int64'), ('Small Cap', 'IT'): Int64Index([7], dtype='int64')}

There are 8 Groups formed, if we group it by <b>'Sector'</b> and <b>'MarketCap'</b>. They are:<br>
<br>
Group 1: 'Large Cap, FMCG' (1 company at index 1)<br>
Group 2: 'Mid Cap, FMCG' (1 company at index 6)<br>
Group 3: 'Large Cap, IT' (1 company at index 0)<br>
Group 4: 'Small Cap, FMCG' (1 company at index 5)<br>
Group 5: 'Mid Cap, Real Estate' (1 company at index 9)<br>
Group 6: 'Small Cap, IT' (1 company at index 7)<br>
Group 7: 'Mid Cap, Pharma' (2 companies at index 3,4)<br>
Group 8: 'Mid Cap, Finance' (1 company at index 2)<br>

### Iterating through groups

In [5]:
# A better way to visualise

grouped = mp.groupby('Sector')

for name, group in grouped:
    print(name)
    print(group)

FMCG
  Sector         Company  MarketCap  Share Price  Amount Invested
1   FMCG           Dabur  Large Cap          341            16000
5   FMCG  Ruchira Papers  Small Cap          185            12000
6   FMCG       Britianna    Mid Cap         5351            52000
Finance
    Sector        Company  MarketCap  Share Price  Amount Invested
2  Finance           DHFL    Mid Cap          610            50000
8  Finance  Bajaj Finance  Large Cap         1937             5000
IT
  Sector             Company  MarketCap  Share Price  Amount Invested
0     IT             Infosys  Large Cap         1120            24000
7     IT  Persistent Systems  Small Cap          720            18000
Pharma
   Sector    Company MarketCap  Share Price  Amount Invested
3  Pharma  Divis Lab   Mid Cap         1123            23000
4  Pharma      Lupin   Mid Cap          741            45000
Real Estate
        Sector Company MarketCap  Share Price  Amount Invested
9  Real Estate     DLF   Mid Cap          217             3500

In [6]:
# Just so that you feel comfortable, go through this line of code too

grouped = mp.groupby('MarketCap')

for name, group in grouped:  # We will learn 'for' loop in further sections. It is usually used for iterations
    print(name)
    print(group)

Large Cap
    Sector        Company  MarketCap  Share Price  Amount Invested
0       IT        Infosys  Large Cap         1120            24000
1     FMCG          Dabur  Large Cap          341            16000
8  Finance  Bajaj Finance  Large Cap         1937             5000
Mid Cap
        Sector    Company MarketCap  Share Price  Amount Invested
2      Finance       DHFL   Mid Cap          610            50000
3       Pharma  Divis Lab   Mid Cap         1123            23000
4       Pharma      Lupin   Mid Cap          741            45000
6         FMCG  Britianna   Mid Cap         5351            52000
9  Real Estate        DLF   Mid Cap          217             3500
Small Cap
  Sector             Company  MarketCap  Share Price  Amount Invested
5   FMCG      Ruchira Papers  Small Cap          185            12000
7     IT  Persistent Systems  Small Cap          720            18000

### Select a group

In [7]:
import pandas as pd

my_portfolio = {'Sector': ['IT', 'FMCG', 'Finance', 'Pharma', 'Pharma',
                           'FMCG', 'FMCG', 'IT', 'Finance', 'Real Estate'],

                'Company':   ['Infosys', 'Dabur', 'DHFL', 'Divis Lab', 'Lupin',
                              'Ruchira Papers', 'Britianna', 'Persistent Systems', 'Bajaj Finance', 'DLF'],

                'MarketCap': ['Large Cap', 'Large Cap', 'Mid Cap', 'Mid Cap', 'Mid Cap',
                              'Small Cap', 'Mid Cap', 'Small Cap', 'Large Cap', 'Mid Cap'],

                'Share Price': [1120, 341, 610, 1123, 741, 185, 5351, 720, 1937, 217],

                'Amount Invested': [24000, 16000, 50000, 23000, 45000, 12000, 52000, 18000, 5000, 3500]}

mp = pd.DataFrame(my_portfolio)

grouped = mp.groupby('MarketCap')

print(grouped.get_group('Mid Cap'))

        Sector    Company MarketCap  Share Price  Amount Invested
2      Finance       DHFL   Mid Cap          610            50000
3       Pharma  Divis Lab   Mid Cap         1123            23000
4       Pharma      Lupin   Mid Cap          741            45000
6         FMCG  Britianna   Mid Cap         5351            52000
9  Real Estate        DLF   Mid Cap          217             3500

### Aggregations

In [8]:
import numpy as np

grouped = mp.groupby('MarketCap')

print(grouped['Amount Invested'].agg(np.mean))

MarketCap
Large Cap    15000
Mid Cap      34700
Small Cap    15000
Name: Amount Invested, dtype: int64

What does this mean?<br>
<br>
This means that on an average, we have invested Rs. 15000 per script in Large Cap, Rs. 34700 per script in Mid Cap and Rs. 15000 per script in Small Cap

In [9]:
grouped = mp.groupby('MarketCap')

print(grouped.agg(np.size))

           Sector  Company  Share Price  Amount Invested
MarketCap
Large Cap       3        3            3                3
Mid Cap         5        5            5                5
Small Cap       2        2            2                2

What does this mean? <br>

This just shows the size of the group.

In [10]:
# Applying multiple aggregation functions at once

grouped = mp.groupby('MarketCap')

print(grouped['Amount Invested'].agg([np.sum, np.mean]))

              sum   mean
MarketCap
Large Cap   45000  15000
Mid Cap    173500  34700
Small Cap   30000  15000

What does this mean? <br>
<br>
This means that the 'total amount' invested in a particular sector is the 'sum' and 'average amount per script' invested in that sector is the 'mean' value.

### Transformations

In [11]:
import pandas as pd

my_portfolio = {'Sector': ['IT', 'FMCG', 'Finance', 'Pharma', 'Pharma',
                           'FMCG', 'FMCG', 'IT', 'Finance', 'Real Estate'],

                'Company':   ['Infosys', 'Dabur', 'DHFL', 'Divis Lab', 'Lupin',
                              'Ruchira Papers', 'Britianna', 'Persistent Systems', 'Bajaj Finance', 'DLF'],

                'MarketCap': ['Large Cap', 'Large Cap', 'Mid Cap', 'Mid Cap', 'Mid Cap',
                              'Small Cap', 'Mid Cap', 'Small Cap', 'Large Cap', 'Mid Cap'],

                'Share Price': [1120, 341, 610, 1123, 741, 185, 5351, 720, 1937, 217],

                'Amount Invested': [24000, 16000, 50000, 23000, 45000, 12000, 52000, 18000, 5000, 3500]}

mp = pd.DataFrame(my_portfolio)

print(mp)

grouped = mp.groupby('MarketCap')


def z_score(x): return (x - x.mean()) / x.std()


print(grouped.transform(z_score))

        Sector             Company  MarketCap  Share Price  Amount Invested
0           IT             Infosys  Large Cap         1120            24000
1         FMCG               Dabur  Large Cap          341            16000
2      Finance                DHFL    Mid Cap          610            50000
3       Pharma           Divis Lab    Mid Cap         1123            23000
4       Pharma               Lupin    Mid Cap          741            45000
5         FMCG      Ruchira Papers  Small Cap          185            12000
6         FMCG           Britianna    Mid Cap         5351            52000
7           IT  Persistent Systems  Small Cap          720            18000
8      Finance       Bajaj Finance  Large Cap         1937             5000
9  Real Estate                 DLF    Mid Cap          217             3500
   Share Price  Amount Invested
0    -0.015872         0.943456
1    -0.991970         0.104828
2    -0.471596         0.731522
3    -0.229280        -0.559399
4    -0.409718         0.492462
5    -0.707107        -0.707107
6     1.767825         0.827145
7     0.707107         0.707107
8     1.007841        -1.048285
9    -0.657231        -1.491731

### Filteration

In [12]:
print(mp.groupby('MarketCap').filter(lambda x: len(x) >= 3))

        Sector        Company  MarketCap  Share Price  Amount Invested
0           IT        Infosys  Large Cap         1120            24000
1         FMCG          Dabur  Large Cap          341            16000
2      Finance           DHFL    Mid Cap          610            50000
3       Pharma      Divis Lab    Mid Cap         1123            23000
4       Pharma          Lupin    Mid Cap          741            45000
6         FMCG      Britianna    Mid Cap         5351            52000
8      Finance  Bajaj Finance  Large Cap         1937             5000
9  Real Estate            DLF    Mid Cap          217             3500

What does this mean?<br>
<br>
It will filter out the Groups that have less than 3 companies in that particular group.

### Merging/Joining

In [13]:
import pandas as pd


left_df = pd.DataFrame({
    'id': [1, 2, 3, 4, 5],
    'Company': ['Infosys', 'SBI', 'Asian Paints', 'Maruti', 'Sun Pharma'],
    'Sector': ['IT', 'Banks', 'Paints and Varnishes', 'Auto', 'Pharma']})

right_df = pd.DataFrame(
    {'id': [1, 2, 3, 4, 5],
     'Company': ['NTPC', 'TCS', 'Lupin', 'ICICI', 'M&M'],
     'Sector': ['Power', 'IT', 'Pharma', 'Banks', 'Auto']})

In [14]:
left_df

   id       Company                Sector
0   1       Infosys                    IT
1   2           SBI                 Banks
2   3  Asian Paints  Paints and Varnishes
3   4        Maruti                  Auto
4   5    Sun Pharma                Pharma

In [15]:
right_df

   id Company  Sector
0   1    NTPC   Power
1   2     TCS      IT
2   3   Lupin  Pharma
3   4   ICICI   Banks
4   5     M&M    Auto

In [16]:
# Merge 2 DFs on a key

print(pd.merge(left_df, right_df, on='id'))

   id     Company_x              Sector_x Company_y Sector_y
0   1       Infosys                    IT      NTPC    Power
1   2           SBI                 Banks       TCS       IT
2   3  Asian Paints  Paints and Varnishes     Lupin   Pharma
3   4        Maruti                  Auto     ICICI    Banks
4   5    Sun Pharma                Pharma       M&M     Auto

In [17]:
print(pd.merge(left_df, right_df, on='Sector'))

   id_x   Company_x  Sector  id_y Company_y
0     1     Infosys      IT     2       TCS
1     2         SBI   Banks     4     ICICI
2     4      Maruti    Auto     5       M&M
3     5  Sun Pharma  Pharma     3     Lupin

In [18]:
# Merge 2 DFs on multiple keys

print(pd.merge(left_df, right_df, on=['Sector', 'Company']))

Empty DataFrame
Columns: [id_x, Company, Sector, id_y]
Index: []

In [19]:
# Merge using 'how' argument

# Left join

print(pd.merge(left_df, right_df, on='Sector', how='left'))

   id_x     Company_x                Sector  id_y Company_y
0     1       Infosys                    IT   2.0       TCS
1     2           SBI                 Banks   4.0     ICICI
2     3  Asian Paints  Paints and Varnishes   NaN       NaN
3     4        Maruti                  Auto   5.0       M&M
4     5    Sun Pharma                Pharma   3.0     Lupin

In [20]:
# Right join

print(pd.merge(left_df, right_df, on='Sector', how='right'))

   id_x   Company_x  Sector  id_y Company_y
0   1.0     Infosys      IT     2       TCS
1   2.0         SBI   Banks     4     ICICI
2   4.0      Maruti    Auto     5       M&M
3   5.0  Sun Pharma  Pharma     3     Lupin
4   NaN         NaN   Power     1      NTPC

In [21]:
# Outer join

print(pd.merge(left_df, right_df, on='Sector', how='outer'))

   id_x     Company_x                Sector  id_y Company_y
0   1.0       Infosys                    IT   2.0       TCS
1   2.0           SBI                 Banks   4.0     ICICI
2   3.0  Asian Paints  Paints and Varnishes   NaN       NaN
3   4.0        Maruti                  Auto   5.0       M&M
4   5.0    Sun Pharma                Pharma   3.0     Lupin
5   NaN           NaN                 Power   1.0      NTPC

In [22]:
# Inner join

print(pd.merge(left_df, right_df, on='Sector', how='inner'))

   id_x   Company_x  Sector  id_y Company_y
0     1     Infosys      IT     2       TCS
1     2         SBI   Banks     4     ICICI
2     4      Maruti    Auto     5       M&M
3     5  Sun Pharma  Pharma     3     Lupin

### Concatenation

In [23]:
print(pd.concat([left_df, right_df]))

   id       Company                Sector
0   1       Infosys                    IT
1   2           SBI                 Banks
2   3  Asian Paints  Paints and Varnishes
3   4        Maruti                  Auto
4   5    Sun Pharma                Pharma
0   1          NTPC                 Power
1   2           TCS                    IT
2   3         Lupin                Pharma
3   4         ICICI                 Banks
4   5           M&M                  Auto

In [24]:
print(pd.concat([left_df, right_df], keys=['x', 'y']))

     id       Company                Sector
x 0   1       Infosys                    IT
  1   2           SBI                 Banks
  2   3  Asian Paints  Paints and Varnishes
  3   4        Maruti                  Auto
  4   5    Sun Pharma                Pharma
y 0   1          NTPC                 Power
  1   2           TCS                    IT
  2   3         Lupin                Pharma
  3   4         ICICI                 Banks
  4   5           M&M                  Auto

In [25]:
print(pd.concat([left_df, right_df], keys=['x', 'y'], ignore_index=True))

   id       Company                Sector
0   1       Infosys                    IT
1   2           SBI                 Banks
2   3  Asian Paints  Paints and Varnishes
3   4        Maruti                  Auto
4   5    Sun Pharma                Pharma
5   1          NTPC                 Power
6   2           TCS                    IT
7   3         Lupin                Pharma
8   4         ICICI                 Banks
9   5           M&M                  Auto

In [26]:
print(pd.concat([left_df, right_df], axis=1))

   id       Company                Sector  id Company  Sector
0   1       Infosys                    IT   1    NTPC   Power
1   2           SBI                 Banks   2     TCS      IT
2   3  Asian Paints  Paints and Varnishes   3   Lupin  Pharma
3   4        Maruti                  Auto   4   ICICI   Banks
4   5    Sun Pharma                Pharma   5     M&M    Auto

In [27]:
# Concatenating using append

print(left_df.append(right_df))

   id       Company                Sector
0   1       Infosys                    IT
1   2           SBI                 Banks
2   3  Asian Paints  Paints and Varnishes
3   4        Maruti                  Auto
4   5    Sun Pharma                Pharma
0   1          NTPC                 Power
1   2           TCS                    IT
2   3         Lupin                Pharma
3   4         ICICI                 Banks
4   5           M&M                  Auto

In [28]:
print(left_df.append([right_df, left_df, right_df]))

   id       Company                Sector
0   1       Infosys                    IT
1   2           SBI                 Banks
2   3  Asian Paints  Paints and Varnishes
3   4        Maruti                  Auto
4   5    Sun Pharma                Pharma
0   1          NTPC                 Power
1   2           TCS                    IT
2   3         Lupin                Pharma
3   4         ICICI                 Banks
4   5           M&M                  Auto
0   1       Infosys                    IT
1   2           SBI                 Banks
2   3  Asian Paints  Paints and Varnishes
3   4        Maruti                  Auto
4   5    Sun Pharma                Pharma
0   1          NTPC                 Power
1   2           TCS                    IT
2   3         Lupin                Pharma
3   4         ICICI                 Banks
4   5           M&M                  Auto

This is where we will end this section on Pandas.<br><br>